:root {
    --primary-color: #ea2a33;
    --secondary-color: #1a3a3a;
    --accent-color: #f3f4f6;
    --text-primary: #1b0e0e;
    --text-secondary: #52606d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    background: #f5f6f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f5f6f5;
}

.content-header {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.content-header div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 15px;
}

section {
    width: 100%;
    max-width: 1280px;
    height: 100dvh;
    min-height: 100%;
    padding: 0 20px;
}

#section-hero {
    background: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCxOdsV7CuSEDLsHuFQiBO7tZGNQqhMYZvVxTher1_hq4Y_KnjHcNT16SQ7GRwqYU24JROp6ozvsaFgdzTHoFf19CdXul9UV-IL1gZ78vPkw00Ow1LDI3haTHR4oVDrWaEQ4Cb3VaLV1WZcgQcC7SyGYOg04C3hpp_3DqfrGAkszzSyLejS8Np75M4cQ9t7Tt5f7VG-w6rST7YxTRNDXznb4SWcFLk9V4DIgAk2gySLOfawnl8Us8ja_Mq9j4OnbUG91J_oXiA2l7gR');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--accent-color);
    gap: 15px;
}

#section-hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;
}

h1 {
    font-size: 60px;
    z-index: 1;
}

#section-hero p {
    font-size: 22px;
    z-index: 1;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-primary);
}

.material-symbols-outlined {
    color: var(--primary-color);
    font-size: 40px;
    margin-right: -5px;
}

.btn {
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: 2px solid var(--primary-color);
    padding: 10px 17px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif;
    cursor: pointer;
}

.btn-outlined {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    margin-right: 15px;
}


/* Section Destinos */
#section-destinos {
    padding-top: 120px;
    text-align: center;
    position: relative;
}

.title {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 22px;
}

.container-cards {
    width: 100%;
    margin-top: 70px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 350px;
    height: 430px;
    border-radius: 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
}

.card-img {
    width: 100%;
    height: 55%;
    background-position: center;
    position: relative;
}

.card-img h3 {
    position: absolute;
    left: 10px; 
    bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--accent-color);
}

.card-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    top: 0;
    left: 0;
}

.card-content {
    text-align: left;
    padding: 20px;
}

.card-content a {
    color: var(--primary-color);
    display: inline-block;
    margin-top: 15px;
}

/* Buscador */
.content-buscador {
    width: 70%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 15px;
}

input[type=text] {
    padding: 12px 17px;
    font-size: 15px;
    min-width: 400px;
    border: 1px solid #d1d3d8;
    border-radius: 7px;
}

input[type=date] {
    padding: 12px 17px;
    font-size: 15px;
    min-width: 250px;
    border: 1px solid #d1d3d8;
    border-radius: 7px;
}

.btn .material-symbols-outlined {
    color: var(--accent-color);
    font-size: 17px;
    margin-right: 3px;
    transform: translateY(3px);
}

/* Section Footer */
#section-footer {
    width: 100%;
    max-width: 1280px;
    height: 42dvh;
    min-height: 100%;
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

#section-footer a {
    color: var(--accent-color);
    font-weight: normal;
}

#section-footer::after {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    width: 100%;
    height: 42dvh;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.content-info {
    width: 100%;
    display: flex;
    padding: 70px 20px 85px 20px;
}

.content-info div {
    width: 25%;
    margin-right: 20px;
}

.content-info ul li {
    margin-bottom: 15px;
}

.content-info h4 {
    margin-bottom: 25px;
}

.content-priv {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.content-info div:last-child ul {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 1024px) {
    h1 {
        font-size: 50px;
        text-align: center;
    }
    #section-hero p {
        text-align: center;
        font-size: 17px;
    }
    .content-buscador {
        width: 95%;
    }
    .card {
        max-width: 250px;
    }
    #section-footer {
        height: 45dvh;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    input[type=text] {
        min-width: 265px;
    }
    #section-destinos {
        height: auto;
        padding-bottom: 50px;
    }
    .container-cards {
        flex-wrap: wrap;
        gap: 30px;
    }
    .card {
        max-width: 330px;
    }
}

@media screen and (max-width: 425px) {
    
}